body {
  height: 100%;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, 0.962);
  background-image: url(mobile_galaxy.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  /* overflow: hidden; */
  opacity: 0.8;
  min-width: fit-content;
}

header {
  background-color: rgba(213, 211, 211, 0.19);
  width: 100%;
  display: flex;
  height: 68px;
}

.menu {
  font-size: 25px;
}

.skydive_photo {
  /* /* min-height: 100%; */
  /* min-width: 650px; */
  /* width: 100%; */
  /* height: 1000px; */
  /* position: fixed; */
  /* background-size: cover; */
  /* top: 0;
  left: 0; */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%;
  background-size:cover;
  overflow: hidden; */
  /* padding-top: 150px; */
  filter: grayscale(30%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa.fa-phone.fa-2x {
  margin: 0.45em 0.25em 0em 0em;
  /* margin-top: 6px;
  margin-right: 8px;   */
  color: white;
}

.open {
  display: flex;
  flex-wrap: wrap;
  /* color: rgb(0, 0, 0); */
  font-size: 38px;
  margin: 0 0 1em 0.15em;
  /* display: none; */
  cursor: pointer;
  text-align: left;
  margin-bottom: 0px;
  color: white;
  z-index: 1;
}

.has-border {
  border-radius: 25px;
  border: 2px solid #0795c3;
  background: none;
  padding: 20px;
}

/* This is an element within and element selector */
.nav > a {
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  text-transform: bolder;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.nav {
  display: flex;
  /* justify-content: flex-end; */
  /* overflow-x: visible; */
  height: 45vh;
  width: 0%;
  z-index: 1;
  position: fixed;
  background-color: rgba(70, 0, 78, 0.668);
  transition: 0.5s;
  /* display: block; */
  font-size: 12px;
  /* padding-left: 1em; */
  padding-bottom: 3em;
  padding-top: 0.5em;
  transform: 0.3s;
  clear: left;
  overflow: hidden;
  flex-direction: column;
}

.explore_skills {
  color: white;
  display: grid;
  grid-template-rows: ;
}
.recent_projects {
  color: white;
}
.project_details {
  color: white;
}

/* This is an ID selector */
.skyfall {
  height: 100%;
  width: 100%;
  z-index: 0;
  margin-top: 30px;
}

.headline {
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  padding-left: 45px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
}

/* a:link {
 
} */

.explore_link {
  color: rgb(207, 207, 207);
  background-color: none;
  text-decoration: underline;
}

h2 {
  margin: auto;
  margin-top: 5px;
  font-style: italic;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 30px;
}

.animation {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 30px;

  color: rgb(242, 0, 255);
  animation-name: change;
  animation-delay: 5s;
  animation-duration: 8s;
}

@keyframes change {
  from {
    color: rgb(225, 255, 0);
  }
  to {
    color: rgb(255, 0, 255);
  }
}

.small-text {
  color: white;
  font-size: 10px;
  margin: 3% auto;
}

.recent_projects {
  width: 100%;
}

.project_description {
  text-align: left;
  padding-top: 0px;
  color: white;
}

.project1 {
  position: relative;
  /* display: flex; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: min(1250px, 80%);
  border-radius: 2%;
}

.portfolio {
  display: flex;
  position: relative;
  /* display: flex; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 2%;
}

.webtitles {
  color: white;
}

.project_description {
  color: white;
}

/* button {
  grid-column: 2/3;
  margin: 3% auto;
  width: 70%;
  height: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 20px;
  padding-bottom: 5%;
  text-align: center;
  color: rgb(214, 25, 25);
  letter-spacing: 16px;
  font-style: italic;
} */
*/


/* .nav_link {
  font-size: large;
  color: rgb(18, 255, 65);
  border-top: 1px solid rgb(0, 238, 255);
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  text-align: center;
} */

@media (min-width: 1250px) {
  .skyfall {
    height: 100%;
    /* width: min(1250px, 95%); */
    z-index: 0;
    margin-top: 30px;
  }

  .project1 {
    position: relative;
    /* display: flex; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: min(1250px, 80%);
    border-radius: 2%;
  }

  .nav > a {
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    text-transform: bolder;
    color: rgb(255, 255, 255);
    font-size: 22px;
  }
}
