body {
  height: 100%;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, 0.962);
  background-image: url(mobile_galaxy.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  overflow: hidden;
  opacity: 0.8;
  min-width: fit-content;
}

header {
  background-color: rgba(213, 211, 211, 0.19);
  width: 100%;
  display: flex;
}





















/* Here using -webkit, we make angle
  of 45 degree of falling star */
.sky {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);

}

/* Here we are making roundabout balls */
.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  border-radius: 885px;
  background: linear-gradient(-45deg, #eef0f5, rgba(0, 0, 255, 0));
  -webkit-filter: drop-shadow(0 0 6px #eef1f8);
  filter: drop-shadow(0 0 6px #d7dff0);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

/* Here we add before and after effect to star */
.star::before,
.star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #eaeef8,
    rgba(0, 0, 255, 0)
  );
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}

/* Here we are adding location of each
    nth-child, animations, delays, and
    before and after effects to each
    and every balls(stars) */
.star:nth-child(1) {
  top: calc(50% - 119px);
  left: calc(50% - 43px);
  /* bottom: calc(50% - 119px); */
  -webkit-animation-delay: 4000ms;
  animation-delay: 4000ms;
}
.star:nth-child(1)::before,
.star:nth-child(1)::after {
  -webkit-animation-delay: 4000ms;
  animation-delay: 4000ms;
}
.star:nth-child(2) {
  top: calc(50% - -43px);
  left: calc(50% - 37px);
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}
.star:nth-child(2)::before,
.star:nth-child(2)::after {
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}
.star:nth-child(3) {
  top: calc(50% - -40px);
  left: calc(50% - 222px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}
.star:nth-child(3)::before,
.star:nth-child(3)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}
.star:nth-child(4) {
  top: calc(50% - -29px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}
.star:nth-child(4)::before,
.star:nth-child(4)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}
.star:nth-child(5) {
  top: calc(50% - 146px);
  left: calc(50% - 112px);
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}
.star:nth-child(5)::before,
.star:nth-child(5)::after {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}
.star:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}
.star:nth-child(6)::before,
.star:nth-child(6)::after {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}
.star:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}
.star:nth-child(7)::before,
.star:nth-child(7)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

/* This code will help to generate
    effect in tail of star */
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

/* This code will generate shining
    effect in head of star */
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation
    to head of star for shining */
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation
    to tail of star */
@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation
    for shooting effect */
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
  }
}

/* Here we make shooting effect */
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
  }
}






























.skydive_photo {
  /* min-height: 100%;
  min-width: 650px;
  width: 100%;
  height: 1000px;
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size:cover;
  overflow: hidden;
  padding-top: 150px;
  filter: grayscale(30%); */
}

.fa.fa-phone.fa-2x {
  margin: 0.45em 0.25em 0em 0em;
  /* margin-top: 6px;
  margin-right: 8px;   */
  color: white;
}

.open {
  display: flex;
  flex-wrap: wrap;
  /* color: rgb(0, 0, 0); */
  font-size: 38px;
  margin: 0 0 1em 0.15em;
  /* display: none; */
  cursor: pointer;
  text-align: left;
  margin-bottom: 0px;
  color: white;
  z-index: 1;

}

.has-border {
  border-radius: 25px;
  border: 2px solid #0795c3;
  background: none;
  padding: 20px;
}

/* This is an element within and element selector */
.nav > a {
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  text-transform: bolder;
  color: rgb(255, 255, 255);
}

.nav {
  display: flex;
  /* justify-content: flex-end; */
  /* overflow-x: visible; */
  height: 12vh;
  /* width: 100%; */
  z-index: 1;
  position: fixed;
  background-color: rgba(70, 0, 78, 0.668);
  transition: 0.5s;
  /* display: block; */
  font-size: 17px;
  /* padding-left: 1em; */
  padding-bottom: 3em;
  padding-top: 0.5em;
  transform: 0.3s;
  clear: left;
  overflow: hidden;
  flex-direction: column;
}

.explore_skills {
  color: white;
  display: grid;
  grid-template-rows: ;
}
.recent_projects {
  color: white;
}
.project_details {
  color: white;
}

/* This is an ID selector */
.skyfall {
  height: 100%;
  width: 100%;
  z-index: 0;

}

h1 {
  padding-left: 50px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 70px;
  text-align: center;
  text-decoration: none;


}

/* a:link {
 
} */

.explore_link {
  color: rgb(207, 207, 207);
  background-color: none;
  text-decoration: underline;
}

h2 { 
  margin:  auto;
  margin-top: 5px;
  font-style: italic;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 40px;
}

.small-text {
  color: white;
  font-size: 10px;
  margin: 3% auto;
}

.recent_projects {
  width: 100%;
}

.project_description {
text-align: left;
padding-top: 0px;
}



.project1 {
  /* width: 100%;
  display: flex;
  grid-template-rows: 50% 50%; */

}



/* button {
  grid-column: 2/3;
  margin: 3% auto;
  width: 70%;
  height: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 20px;
  padding-bottom: 5%;
  text-align: center;
  color: rgb(214, 25, 25);
  letter-spacing: 16px;
  font-style: italic;
} */
*/


/* .nav_link {
  font-size: large;
  color: rgb(18, 255, 65);
  border-top: 1px solid rgb(0, 238, 255);
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  text-align: center;
} */

.close {
  float: inline-start;
}

.nav a:not(:first-child):hover {
  background-color: rgb(234, 234, 234);
}

.logo {
  width: 100px;
  height: 90px;
  color: rgb(230, 207, 226);
}

footer {
  display: grid;
  grid-template-columns: 75% 55%;
  color: rgb(255, 255, 255);
}

/* (min-width: 355px) */

@media (min-width: 750px) {
  .skyfall {
    /* left: 50%; */
    /* margin-left: 50px; */
    height: 100vh;
    width: 100%;
    filter: grayscale(30%);
    object-fit: contain;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: cover;
    /* background-size: cover; */
    /* type in height and width to match sky background */
  }
}
