body {
    height: 100%;
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: rgba(0, 0, 0, 0.962);
    background-image:url(mobile_galaxy.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    /* overflow: hidden; */
    opacity: 0.8;
    min-width: fit-content;
}

.nav > a {
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  text-transform: bolder;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.nav {
  display: flex;
  /* justify-content: flex-end; */
  /* overflow-x: visible; */
  height: 30vh;
  width: 0%;
  z-index: 1;
  position: fixed;
  background-color: rgba(70, 0, 78, 0.668);
  transition: 0.5s;
  /* display: block; */
  font-size: 12px;
  /* padding-left: 1em; */
  padding-bottom: 3em;
  padding-top: 0.5em;
  transform: 0.3s;
  clear: left;
  overflow: hidden;
  flex-direction: column;
}

.open {
  display: flex;
  flex-wrap: wrap;
  /* color: rgb(0, 0, 0); */
  font-size: 38px;
  margin: 0 0 1em 0.15em;
  /* display: none; */
  cursor: pointer;
  text-align: left;
  margin-bottom: 0px;
  color: white;
  z-index: 1;
}

.fa.fa-phone.fa-2x {
  margin: 0.45em 0.25em 0em 0em;
  /* margin-top: 6px;
  margin-right: 8px;   */
  color: white;
  width: 100%;
 
}

.menu {
  font-size: 25px;
  color: white;
  
}

header {
  background-color: rgba(213, 211, 211, 0.19);
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 68px;
  /* justify-content: space-evenly; */
}

h3 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 30px;
}

label {
  color: white;
}

div {
  color: white;
}



.comments {
  padding-top: 5px;
}

.email {
  padding-top: 5px;
}